{# component/_navbar.html.twig #}

<nav>
  <img src="https://picsum.photos/286/180" alt="Card image cap">
  <ul>
    <li>Home</li>
    <li>A propos</li>
    <li>Réservation</li>
    <li>Contact</li> 
  </ul>
</nav>